header, footer {
	background-color: #001a00;
	color: #fff;
	height: 100px;
	text-align: center;
	padding: 30px 10px 20px 10px;
}

header {
	font-family: 'Segoe Print', cursive;
}

nav a {
	background-color: #3fa63f;
	color: #fff;
	border: thin solid #000000;
	padding: 8px;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 20px;
	float: left;
}
			
nav a:hover {
	font-weight: bold;
}

.clear-float {
    clear:both;
}

nav a:visited {
	background-color: #006600;
    color: #ffff99; 
	border: thin solid #ffff99;
}

nav {
	border-top: 3px solid #004d00;
	border-bottom: 3px solid #004d00;
	margin-top: 4px;
	margin-bottom: 4px
}