footer {
	background-color: #001a00;
	color: #fff;
	height: auto;
	text-align: center;
	padding: 30px 10px 20px 10px;
}

.jumbotron {
	font-family: 'Segoe Print', cursive;
	background-color: #001a00;
	color: #fff;
	height: auto;
	text-align: center;
}

.nav-pills a {
	background-color: #3fa63f;
	color: #fff;
	border: thin solid #fff;
	padding: 8px;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 20px;
	float: left;
}
			
.nav-pills a:hover {
	font-weight: bold;
}

.nav-pills a:visited {
	background-color: #006600;
    color: #ffff99; 
	border: thin solid #ffff99;
}

